<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:include="/fragments/header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--to add home link-->
<div class="container">
    <div class="form-row col-md-6">
        <a th:href="@{/}">Home</a></p>
        <a th:href="@{/logout}">Log out</a></p>
    </div>
    <div th:include="/fragments/currency-add-form"></div>
</div>
</body>
</html>