<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head th:include="/fragments/header">
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div class="container">
    <div th:include="/fragments/admin">
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">Log in</a></p>
    </div>
    <!--  to add checkbox for enable/disable js validations      -->
    <div th:include="/fragments/convert-form"></div>
    <div class="row">
        <label>Result:</label>
        <output th:type="Double" name="convertedAmount" id="convertedAmount"></output>
    </div>
    <div th:include="/fragments/currencies-table"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
</html>