<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<!--    todo what could be removed-->
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="admin">
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span></b>
            <a th:href="@{/admin/addCurrency}">Add a currency.</a></p>
            <button type="button" class="btn btn-default navbar-btn" >
                <!--            to make it on different view-->
                <a th:href="@{/admin/currencies/refresh}">Update all currencies from BNB rates.</a>
            </button></p>
            <a th:href="@{/logout}">Log out</a></p>
        </div>
    </div>
</body>
</html>