<div class="row">
    <div class="col-md-4 mt-5">
        <form action="/convert" method="get" name="currency-convert-form" id="currency-convert-form">
            <div class="form-group">
                <label for="codeFrom">From:</label>
                <select class="form-control selectpicker" name="codeFrom" id="codeFrom">
                    <option value="">Select currency code from</option>
<!--                    <option th:each="currency : ${currencies}"-->
<!--                            th:value="${currency.getCode()}"-->
<!--                            th:text="${currency.getCode()}">-->
<!--                    </option>-->
                </select>
            </div>
            <div class="form-group">
                <label for="codeTo">To:</label>
                <select class="form-control selectpicker" name="codeTo" id="codeTo">
                    <option value="">Select currency code to</option>
<!--                    <option th:each="currency : ${currencies}"-->
<!--                            th:value="${currency.getCode()}"-->
<!--                            th:text="${currency.getCode()}">-->
<!--                    </option>-->
                </select>
            </div>
            <div class="form-group">
                <label for="currencyAmountToConvert">Sum:</label>
                <input th:type="Double" type="number" name="currencyAmountToConvert" id="currencyAmountToConvert">
                <span th:for="currencyAmountToConvert"></span>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</div>