<form th:action="@{/admin/currency/update/{code}(code=${currency.getCode()})}" method="post" th:object="${currency}">
    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
            Please correct the problems below and resubmit.
        </span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label >Currency Code:</label>
            <label th:field="*{code}" th:text="*{code}"></label>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Name</label>
            <input th:field="*{name}" type="text" class="form-control" id="inputPassword4" placeholder="Currency Full Name">
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name error</span>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Rate</label>
        <input th:field="*{rate}"  class="form-control" name="inputAddress" id="inputAddress" placeholder="0.0">
        <span class="validationError"
              th:if="${#fields.hasErrors('rate')}"
              th:errors="*{rate}">Rate error</span>
    </div>
    <div class="form-group">
        <label for="inputAddress2">Nominal Value</label>
        <input th:field="*{ratio}" type="number" class="form-control" id="inputAddress2" value=1>
        <span class="validationError"
              th:if="${#fields.hasErrors('ratio')}"
              th:errors="*{ratio}">Rate error</span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>